* {
    font-family: 'Courier New', Courier, monospace;
}

h3,
h1 {
    color: #7131e9;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/* .pq {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} */

.pq * {
    font-family: 'Courier New', Courier, monospace
}

.pq h1 {
    color: #1b74e4;
}

.userbtn {
    background-color: aqua;
}

#searchbtn {
    color:white;
    background-color: black;
}

p a {
    color: purple;
}
nav ul li a{
    color: rgb(89, 15, 248);
    text-decoration: none;
}

p+h3 {
    text-decoration: underline;
}
.upvote+button {
    background-color: lightblue;
}
div>input {
    background-color: aquamarine;
}
/* #myId p {
    background-color: green;
} */
div[id="myId"] p {
    background-color: white;
}
button:hover{
    color: black;
    background-color: white;
}
button:active {
    color: white;
    background-color: pink;
}
h3:hover{
    text-decoration: overline;
}
p:active {
    background-color: green;
}
input[type="radio"]:checked+label {
    color: red;
}
div:nth-of-type(2n) {
    background-color: pink;
}
h1::first-letter {
    color: green;
}
::selection {
    background-color: red;
}